@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Solutions</h1>
    <br />
    <h4>We are your local waste management partner.</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/trash-collector-city.jpeg" alt="Forest" width="365" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/nature-forest-trees-fog.jpeg" alt="City" width="365" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/trash-collector-water.jpeg" alt="Lake" width="365" />
    </div>
</div>