
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

@{
    ViewBag.Title = "Filter";
}

<br />

<h2>Filter Pickups By Day</h2>

<h4>Please enter which day you'd like to find pickups for: </h4>

@using (Html.BeginForm())
{
    <input type="text" name="selectedDay" />
    <input type="submit" />
}

